/* productDescription */
.description{
    width: 40%;
    margin-top: 10%;
}

.description p{
    margin-bottom: 50px;
}

/* productPrice */
.productPrice{
    display: flex;
    justify-content: space-between;
}

.productPrice h3{
    margin: 7px 0;
}

/* productButtons */
.productButtons{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.productButtons button{
    width: 45%;
    height: 50px;
    cursor:pointer;
}

/* redButton */
.redButton{
    color: white;
    border: 0;
    background-color: red;
}

.redButton:hover{
    background-color: rgb(225, 0, 0);
}

.redButton:active{
    background-color: rgb(200, 0, 0);
}

@media (max-width: 1000px){
    /* description */
    .description{
        width: 100%;
        margin: 0;
    }
}