/* modal */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}

/* cartContent */
.cartContent{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    width: 500px;
    height: 100%;
    background-color: white;
    border-left: 1px solid black;
}

/* cartHeader */
.cartHeader{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

/* close */
.close{
    font-size: 25px;
    color: black;
    background: none;
    border: 0;
}

.close:hover{
    cursor: pointer;
}

/* cartBody */
.cartBody{
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 20px;
}


.cartBody::-webkit-scrollbar {
    width: 10px;
}
  
  
.cartBody::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  
.cartBody::-webkit-scrollbar-thumb {
  background: #888;
}
  
.cartBody::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* cartFooter */
.cartFooter{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-top: var(--border-gray);
}

.cartFooter button{
    width: 150px;
    height: 50px;
    color: black;
    background-color: white;
    border: 3px solid black;
}

.cartFooter button:hover{
    cursor: pointer;
    background-color: var(--white-hover);
}

.cartFooter button:active{
    background-color: var(--white-active);
}


@media (max-width: 500px) {
    /* cartContent */
    .cartContent{
        width: 200px;
    }

    /* cartFooter */
    .cartFooter button{
        width: 100px;
    }
}