/* loading */
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* loadingBody */
.loadingBody{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

/* element */
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 475px;
    height: 630px;
    background-color: aliceblue;
}

.element:hover{
    cursor: wait;
}

/* details */
.details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: start;
    height: 100px;
    width: 1000px;
    margin-top: 50px;
}

/* detail */
.detail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

@media (max-width:1000px) {
    /* loadingBody */
    .loadingBody{
        flex-direction: column;
        justify-content: center;
        width: auto;
        max-width: 1000px;
        gap: 10px;

    }
    
    /* element */
    .element{
        width: 250px;
        height: 250px;
        max-width: 1000px;
    }

    /* details */
    .details{
        grid-template-columns: 200px;
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    /* detail */
    .detail{
        height: 100px;
    }
    
}