/* separatorBody */
.separatorBody{
    display: flex;
    width: 1000px;
    height: 250px;
}

/* bodyReverse */
.bodyReverse{
    flex-direction: row-reverse;
}

/* separatorImage */
.separatorImage{
    width: 500px;
    height: 250px;
    overflow: hidden;
}

.separatorImage img{
    width: 100%;
    height: 100%;
}

/* textContainer */
.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* textBody */
.textBody{
    width: 60%;
}

.textBody h2{
    margin: 10px 0 0 0;
}

.textBody p{
    margin: 10px 0;
}

.textBody a{
    width: 100px;
}

.textBody button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 0;
    border: 0;
}

.textBody button:hover{
    cursor: pointer;
}

@media (max-width:1000px){
    /* body */
    .separatorBody{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 450px;
    }

    .bodyReverse{
        flex-direction: column-reverse;
        height: auto;
    }

    /* separatorImage */
    .separatorImage{
        object-fit: none;
        width: 100%;
        max-width: 520px;
    }

    

    /* textContainer */
    .textContainer{
        box-sizing: border-box;
        justify-content: start;
        width: 520px;
        padding: 0 20px;
    }
    
    /* textBody */
    .textBody{
        justify-content: start;
        width: 100%;
    }
}

@media (max-width: 500px){
    /* separatorImage */
    .separatorImage{
        display:flex;
        justify-content: center;
        margin: 0;
        overflow: hidden;
    }

    .separatorImage img{
        width: auto;
        max-width: none;
    }
    
    /* textContainer */
    .textContainer{
        justify-content: center;
        margin-top: 0;
        width: 100%;
    }

    /* textBody */
    .textBody{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textBody p{
        text-align: justify;
        text-justify: inter-word;
    }
}
