/* separatorBody */
.separatorBody{
    display: flex;
    height: 100%;
    margin: 25px 0;
}

.separatorBody img{
    width: 50%;
}
/* bodyReverse */
.bodyReverse{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin: 25px 0;
}

.bodyReverse img{
    width: 50%;
}
/* textContainer */
.textContainer{
    width: 50%;
    position: relative;
}

/* textBody */
.textBody{
    padding: 8% 15%;
    position: absolute;
}

.textBody h2{
    margin: 0;
}

.textBody p{
    margin: 10px 0;
}