/* Styles headerImages */
.headerImages{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    height: 50%;
}

.headerImages p{
    display: grid;
    position: absolute;
    backdrop-filter: brightness(60%);
    width: 100%;
    height: 100%;
    margin: 0;
}

.headerImages img{
    width: 100%;
}

.headerImages h3{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 30px;
    bottom: 5px;
    left: 10px;

}

.headerImages a{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

/* furniture */
.furniture{
    grid-column: 1/3;
    grid-row: 1/3;
}

/* clothes */
.clothes{
    grid-row: 1/3;
}

/* peripherals */
.peripherals{
    grid-column: 4;
    grid-row: 1;
}


/* electronics */
.electronics{
    grid-column: 4;
    grid-row: 2;
}

@media (max-width: 1000px){
    /* headerImages */
    .headerImages{
        justify-content: center;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 1fr);
    }
    /* furniture clothes peripherals electronics */
    .furniture, .clothes, .peripherals, .electronics{
        grid-column: auto;
        grid-row: auto;
    }
}

@media (max-width: 500px){
    .headerImages{
        grid-template-columns: repeat(1, 190px);
        grid-template-rows: repeat(4, 95px);
    }
}