a{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* Styles headerImages */

.headerImages{
    display: flex;
    width: 100%;
    height: 250px;
}

p{
    display: flex;
    position: absolute;
    backdrop-filter: brightness(60%);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.headerImages h3{
    margin: 0;
    position: absolute;
    color: white;
    font-size: 1.5vw;
    bottom: 5px;
    left: 10px;

}

/* Styles main */

.main{
    display: flex;
    margin-right: 10px;
    width: 50%;
    height: 100%;
}

/* Styles second */
.second{
    display: flex;
    width: 25%;
    height: 100%;
}

/* Styles third */
.third{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 25%;
}

.third a{
    height: 50%;
}

.third a:last-child{
    padding-top: 10px;
}
