/* categoriesButtons */
.categoriesButtons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 25px;
}

.categoriesButtons button{
    width: 80px;
    height: 30px;
    border: var(--border-black);
}

.categoriesButtons button:hover{
    cursor: pointer;
    background-color: var(--white-hover);
}


.categoriesButtons button:active{
    cursor: pointer;
    background-color: var(--white-active)
}

.inactiveButton{
    background-color: white
}

.activeButton{
    background-color: var(--white-hover);
}


@media (max-width: 600px){
    .categoriesButtons{
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-rows: repeat(4, 50px);
        justify-content: center;
    }

    .categoriesButtons button{
        width: auto;
        height: auto;
    }

}