section{
    height: 80vh;
    max-height: 650px;
}

/* homeHeader */
.homeHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-height: 800px;
}

/* productCarousel */
.productCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lampSeparator */
.lampSeparator{
    display: flex;
    justify-content: center;
    align-items: center;
}