/* homeHeader */
.homeHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 900px;
    max-height: 1080px;
}

/* productCarousel */
.productCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lampSeparator */
.lampSeparator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}