/* categoriesBody */
.categoriesBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    /*max-height: 1000px;*/
}


/* categoriesTitle */
.categoriesTitle{
    display: flex;
    justify-content: center;
}

.loadingItems{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    width: 944px;
    margin-top: 50px;
    margin-bottom: 25px;
}

@media (max-width: 1000px){
    /* loadingItems */
    .loadingItems{
        grid-template-columns: repeat(2, 1fr);
        width: 500px;
    }
}

@media (max-width: 500px){
    /* loadingItems */
    .loadingItems{
        grid-template-columns: 200px;
        width: 200px;
    }
}