/* categoriesBody */
.categoriesBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* categoriesTitle */
.categoriesTitle{
    display: flex;
    justify-content: center;
}

/* categoriesProducts */
.categoriesProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 25px;
}

@media (max-width: 1000px){
    /* categoriesProducts */
    .categoriesProducts{
        grid-template-columns: repeat(2, 1fr);
        width: 500px;
    }
}

@media (max-width: 500px){
    /* categoriesProducts */
    .categoriesProducts{
        grid-template-columns: 200px;
        width: 200px;
    }
}