/* productTitle */
.productTitle{
    display: flex;
    justify-content: center;
}

/* productBody */
.productBody{
    display: flex;
    justify-content: space-between;
    height: 88vh;
}

/* detailsSection */
.detailsSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/* productDetails */
.productDetails{
    background-color: aliceblue;
    padding-left: 20px;
}

/* trend */
.trend{
    margin: 10px 0 20px 0;
}