/* form */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* signin */
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.signin label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}