/* form */
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* signin */
.signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.signin label{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.signin:last-child{
    align-items: self-start;
}

/* createAccountButton */
.createAccountButton{
    width: 120px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 0;
    border: 0;
}