/* item */
.item{
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    border: var(--border-gray);
}

.item img{
    width: 30%;
    padding: 10px;
    border-right: var(--border-gray);
}

/* itemDetails */
.itemDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

.itemDetails h3,h4{
    margin: 0;
}

/* detailsHeader */
.detailsHeader{
    display: flex;
    justify-content: space-between;
}

/* detailsQuantity */
.detailsQuantity{
    display: flex;
    justify-content: space-between;
}

.detailsQuantity button{
    height: 25px;
}