/* trendHeader */
.trendHeader{
    display: flex;
    justify-content: space-between;
}

.trendHeader button{
    margin-right: 5px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.trendHeader button:hover{
    cursor: pointer;
    background-color: rgb(225, 225, 225);
}

/* trendItems */
.trendItems{
    --x-axis : -50%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    width: 200%;
    transform: translateX(var(--x-axis));
}

/* trendBody */
.trendBody{
    overflow: hidden;
}
