/* item */
.item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: black;
    border: var(--border-gray);
    height: 300px;
    text-decoration: none;
    overflow: hidden;
}

.item:hover{
    cursor: wait;
}


/* itemSpinner */
.itemSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    border-bottom: var(--border-gray);
}

/* itemBody */
.itemBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
