/* styles item */

.item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: black;
    border: var(--border-gray);
    height: 300px;
    text-decoration: none;
    overflow: hidden;
}

.item:hover{
    border: var(--border-black);
    cursor: pointer;
}

/* itemImage */
.itemImage{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    padding: 5px;
    border-bottom: var(--border-gray);
}

.itemImage img{
    max-height: 100%;
}

/* Styles itemBody */

.itemBody{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 90px;
    margin: 0;
    padding: 0px 10px;
}

.itemBody h3{
    margin: auto 0 10px 0;
}

.itemBody h4{
    margin: 10px 0 0 0;
}