/* styles item */

.item{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.233);
    overflow: hidden;
    height: 300px;
}


.item img{
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    height: 210px;
}

.item:hover{
    border: 1px solid black;
    cursor: pointer;
}

/* Styles itemBody */

.itemBody{
    display: flex;
    flex-direction: column;
    height: 90px;
    margin: 0;
    padding: 0px 10px;
}

.itemBody h3{
    margin: auto 0 10px 0;
}

.itemBody h4{
    margin: 10px 0 0 0;
}