/* productImages */
.productImages{
    display: flex;
    flex-direction: column;
    width: 55%;
}

/* image */
.image{
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    height: 80%;
    width: 100%;
    padding: 100px 100px 50px 100px;
}

/* imageSelector */
.imageSelector{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.imageSelector img{
    cursor: pointer;
    width: 100px;
    margin: 0 10px;
    padding: 15px;
}

@media (max-width: 1000px){
    /* productImages */
    .productImages{
        width: 100%;
        height: 410px;
    }

    /* image */
    .image{
        padding: 0 0 20px 0;
    }

    /* imageSelector */
    .imageSelector{
        margin-top: 5px;
    }

    .imageSelector img{
        padding: 0;
    }
}

@media (max-width:500px) {
    .imageSelector img{
        width: 55px;
    }
}